## Import python module

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
# import plotly.plotly as py

import seaborn as sns

## Load train.csv

In [2]:
train = pd.read_csv("E:/내폴더/프로그래밍/dacon/기상/AIFrenz_Season1_dataset/train.csv", engine = 'python')

id : 고유번호(시간순서)  
X00, X07, X28, X31, X32 : 기온  
X01, X06, X22, X27, X29 : 현지기압  
X02, X03, X18, X24, X26 : 풍속  
X04, X10, X21, X36, X39 : 일일 누적강수량  
X05, X08, X09, X23, X33 : 해면기압  
X11, X14, X16, X19, X34 : 일일 누적일사량  
X12, X20, X30, X37, X38 : 습도  
X13, X15, X17, X25, X35 : 풍향  
Y00~Y17 : 센서 측정 온도  
Y18 : 센서 측정 온도  

* no_Y18: train.iloc[:4320]  
* yes_Y18: train.iloc[4320:]


train.shape: (4752, 60)

In [3]:
temp_name = ['t1','t2','t3','t4','t5']
atmos_press_name = ['ap1','ap2','ap3','ap4','ap5']
wind_speed_name = ['ws1','ws2','ws3','ws4','ws5']
amount_rainfall_name = ['r1','r2','r3','r4','r5']
sea_press_name = ['sp1','sp2','sp3','sp4','sp5']
amount_solar_name = ['s1','s2','s3','s4','s5']
humidity_name = ['h1','h2','h3','h4','h5']
wind_direct_name = ['wd1','wd2','wd3','wd4','wd5']


### 1. 기온(temp) DataFrame
X00, X07, X28, X31, X32 : 기온

In [14]:
temp = train.iloc[:,[1,8,29,32,33]]
print(temp.columns)
temp.columns = temp_name
temp.head()

Index(['X00', 'X07', 'X28', 'X31', 'X32'], dtype='object')

    t1    t2    t3   t4    t5
0  9.7  12.2  12.3  8.2  10.7
1  9.3  12.1  12.1  8.3  10.3
2  9.4  12.1  12.1  8.0   9.7
3  9.4  12.0  12.1  7.7   9.4
4  9.2  12.0  12.0  7.4   9.4

### 2. 현지기압(atmos) DataFrame
X01, X06, X22, X27, X29 : 현지기압

In [29]:
atmos = train.iloc[:,[2,7,23,28,30]]
print(atmos.columns)
atmos.columns = atmos_press_name
atmos.head()

Index(['X01', 'X06', 'X22', 'X27', 'X29'], dtype='object')

     ap1    ap2     ap3     ap4     ap5
0  988.8  989.6  1002.5  1008.7  1001.6
1  988.9  989.6  1002.5  1008.7  1001.7
2  989.0  989.7  1002.4  1008.6  1001.6
3  988.9  989.6  1002.4  1008.7  1001.5
4  988.9  989.7  1002.4  1008.7  1001.5

### 3. 해면기압(sea) DataFrame
X05, X08, X09, X23, X33 : 해면기압

In [7]:
sea = train.iloc[:,[6,9,10,24,34]]
print(sea.columns)
sea.columns = sea_press_name
sea.head()

Index(['X05', 'X08', 'X09', 'X23', 'X33'], dtype='object')

      sp1     sp2     sp3     sp4     sp5
0  1009.3  1009.9  1009.8  1009.8  1010.1
1  1009.3  1010.0  1009.9  1009.9  1010.1
2  1009.2  1010.1  1010.1  1009.8  1010.0
3  1009.2  1010.0  1010.0  1009.7  1010.1
4  1009.2  1010.1  1010.0  1009.7  1010.1

### 4. 풍속(wspeed) DataFrame
X02, X03, X18, X24, X26 : 풍속

In [8]:
wspeed = train.iloc[:,[3,4,19,25,27]]
print(wspeed.columns)
wspeed.columns = wind_speed_name
wspeed.head()

Index(['X02', 'X03', 'X18', 'X24', 'X26'], dtype='object')

   ws1  ws2  ws3  ws4  ws5
0  1.2  0.6  0.3  1.1  0.5
1  1.7  1.9  0.4  0.0  0.0
2  1.1  2.3  0.6  0.0  0.0
3  1.5  0.7  0.1  0.0  0.2
4  0.8  1.7  0.0  0.0  0.0

### 5. 풍향(wdirect) DataFrame
X13, X15, X17, X25, X35 : 풍향

In [9]:
wdirect = train.iloc[:,[14,16,18,26,36]]
print(wdirect.columns)
wdirect.columns = wind_direct_name
wdirect.head()

Index(['X13', 'X15', 'X17', 'X25', 'X35'], dtype='object')

     wd1    wd2    wd3  wd4    wd5
0   71.3  101.1   56.1  2.3  256.4
1  121.8  165.3    0.0  0.0  215.4
2  232.0  144.0    0.0  0.0  235.2
3    0.0  115.9  294.1  0.0  214.0
4    0.0  124.7    0.0  0.0  174.9

### 6. 습도(humid) DataFrame
X12, X20, X30, X37, X38 : 습도

In [10]:
humid = train.iloc[:,[13,21,31,38,39]]
print(humid.columns)
humid.columns = humidity_name
humid.head()

Index(['X12', 'X20', 'X30', 'X37', 'X38'], dtype='object')

     h1    h2    h3    h4    h5
0  82.4  91.0  69.1  77.2  62.6
1  81.2  91.9  70.3  77.3  63.5
2  86.1  93.3  71.5  77.3  63.9
3  87.7  93.4  73.2  77.5  64.5
4  88.9  94.1  74.3  78.0  65.0

### 7. 일일 누적강수량(rain)
X04, X10, X21, X36, X39 : 일일 누적강수량

In [11]:
rain = train.iloc[:,[5,11,22,37,40]]
print(rain.columns)
rain.columns = amount_rainfall_name
rain.head()

Index(['X04', 'X10', 'X21', 'X36', 'X39'], dtype='object')

    r1   r2   r3   r4   r5
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

### 8. 일일 누적일사량(solar) DataFrame
X11, X14, X16, X19, X34 : 일일 누적일사량

In [15]:
solar = train.iloc[:,[12,15,17,20,35]]
print(solar.columns)
solar.columns = amount_solar_name
solar.head()

Index(['X11', 'X14', 'X16', 'X19', 'X34'], dtype='object')

    s1   s2   s3   s4   s5
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

### 9. 센서(Y) DataFrame
41~

In [4]:
sensor = train.iloc[:,41:]
print(sensor.columns)
sensor.head()

Index(['Y00', 'Y01', 'Y02', 'Y03', 'Y04', 'Y05', 'Y06', 'Y07', 'Y08', 'Y09',
       'Y10', 'Y11', 'Y12', 'Y13', 'Y14', 'Y15', 'Y16', 'Y17', 'Y18'],
      dtype='object')

,Y00,Y01,Y02,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
0,12.5,11.5,11.0,20.0,20.0,10.5,10.0,10.5,10.0,7.0,7.5,7.0,9.0,10.0,9.5,9.0,8.0,9.0,NaN
1,12.5,11.0,11.0,20.0,20.0,10.0,9.5,10.0,9.5,6.5,7.5,7.0,8.5,10.0,9.5,9.0,7.5,9.0,NaN
2,12.0,11.0,11.0,19.5,19.5,10.0,9.0,10.0,9.0,6.5,7.5,6.5,8.0,9.5,9.5,8.5,7.5,8.5,NaN
3,12.0,11.0,11.0,19.5,19.5,9.5,9.0,9.5,9.0,6.0,7.0,6.0,8.0,9.5,9.0,8.5,7.5,8.5,NaN
4,12.0,10.5,10.5,19.0,19.5,9.5,8.5,9.5,8.5,6.0,7.0,6.0,7.5,9.5,9.0,8.5,7.5,8.5,NaN

In [24]:
# y = train.iloc[:,[0,-1]]
# print(y.columns)
# y.head()

Index(['id', 'Y18'], dtype='object')

   id  Y18
0   0  NaN
1   1  NaN
2   2  NaN
3   3  NaN
4   4  NaN

### 10. Save

In [40]:
# temp.to_csv("./Prepare/temp.csv",index=False)
# atmos.to_csv("./Prepare/atmos.csv",index=False)
# sea.to_csv("./Prepare/sea.csv",index=False)

# wspeed.to_csv("./Prepare/wspeed.csv",index=False)
# wdirect.to_csv("./Prepare/wdirect.csv",index=False)

# humid.to_csv("./Prepare/humid.csv",index=False)
# rain.to_csv("./Prepare/rain.csv",index=False)
# solar.to_csv("./Prepare/solar.csv",index=False)

# sensor.to_csv("./Prepare/sensor.csv",index=False)

## Makes a new Train Data by renaming column names

### concat

In [34]:
new_train = pd.concat([temp, atmos, sea, wspeed, wdirect, humid, rain, solar, sensor],axis = 1)

In [33]:
len(train.columns)

60

In [35]:
len(new_train.columns)

59

### save

In [41]:
# new_train.to_csv("./Prepare/new_train.csv",index=False)

## *Sensor 나눠서

In [46]:
train117 = new_train.iloc[:4320,:]
train18 = new_train.iloc[4320:,:]

In [49]:
# train117.to_csv("./Prepare/train117.csv",index=True)
# train18.to_csv("./Prepare/train18.csv",index=True)

In [22]:
sensor117 = sensor.iloc[:4320,:-1]
sensor18 = sensor.iloc[4320:,-1]

In [24]:
type(sensor18)

pandas.core.series.Series

In [25]:
sensor117.to_csv("./Prepare/sensor117.csv",index=True)
sensor18.to_csv("./Prepare/sensor18.csv",index=True, header = True)

### ================== 기타연습 ==================

In [8]:
df = pd.DataFrame({"x1":[1,2,3],"x2":[4,5,6]})

In [9]:
df

   x1  x2
0   1   4
1   2   5
2   3   6

In [12]:
df.columns = temp_name

In [13]:
df

   t1  t2
0   1   4
1   2   5
2   3   6